<div class="card">
  <div class="card-header">Ajout de ventes</div>
  <div class="card-body">
    <div class="form-group">
      <label for="">montant</label>
      <input type="text" class="form-control" ></div>
    <div class="form-group">
      <label for="">date</label>
      <input type="number" class="form-control" ></div>
    <div class="form-group">
      <label for="">reference</label>
      <input type="number" class="form-control" ></div>
    <div class="card-footer">
      <button class="btn btn-block btn-outline-primary">Next</button>
      <button class="btn btn-block btn-outline-primary">Previous</button>
    </div>
  </div>
</div>

