@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

nav{
  color: #eff8ff;
  background-color: #5f939a;
  height: 70px;
  font-family: Georgia, Helvetica, sans-serif;
  font-size:35px;
}
body {
  background-color: darkcyan;
}
