<nav class="navbar " style="text-align: -moz-center">FidManar</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 my-5 shadow p-0">
      <app-clients></app-clients>
    </div>
    <div class="col-md-6 my-5 shadow p-0">
      <app-factures></app-factures>
    </div>
    <div class="col-md-6 my-5 shadow p-0">
      <app-ventes></app-ventes>
    </div>
    <div class="col-md-6 my-5 shadow p-0">
      <app-achats></app-achats>
    </div>
    <div class="col-md-6 my-5 shadow p-0">
      <app-personnels></app-personnels>
    </div>
    <div class="col-md-6 my-5 shadow p-0">
      <app-cnss></app-cnss>
    </div>
  </div>
</div>
<Footer></Footer>