 <div class="card">
   <div class="card-header">Ajout d'Achats</div>
   <div class="card-body">
     <div class="form-group">
       <label>montant</label>
       <input type="text" class="form-control"></div>
     <div class="form-group">
       <label >date</label>
       <input type="date" class="form-control" ></div>
     <div class="form-group">
       <label>reference</label>
       <input type="text" class="form-control" ></div>
     <div class="card-footer">
       <button class="btn btn-block btn-outline-primary">Next</button>
       <button class="btn btn-block btn-outline-primary">Previous</button>
     </div>
   </div>
 </div>
